* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-home {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  color: rgb(25, 118, 210);
}

.code:hover {
  text-decoration: underline;
}

.card-home {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card-home:hover {
  color: rgb(25, 118, 210);
  border-color: rgb(25, 118, 210);
}

.card-home-text {
  font-size: 2rem;
  margin: 0 0 1.6rem;
  text-align: left;
  font-weight: 500;
}

home .card header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;

}

header>a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header>a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

h2 {
  text-align: center;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-bg);
}


a:hover {
  text-decoration: none;
}

a:hover.blog-link {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
}

form button {
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form button:disabled {
  background-color: gray;
  cursor: default;
}

input[type="search"] {
  padding: 0.5rem 1rem;
  border: 1px solid darkgray;
  border-width: thin;
  border-radius: 4px;
}

input[type="search"]:focus-visible {
  outline-color: var(--color-active);
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  gap: 0.6rem;
  margin-bottom: '2rem';
  margin-left: '-10px';
}

.search-container input {
  flex: 1;
}

.button-signin {
  padding: 0.56rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1px;
  width: 180px;
}

.input-signin {
  padding: 0.3rem 0.6rem;
  width: 180px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form {
  display: grid;
  gap: 1rem;
}

.vercel-footer {
  text-align: center;
  margin: 100px 0 0;
  display: flex;
  flex: 1;
  justify-content: center;
  /* align-items: center; */
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  margin-top: 4px;
}

.loading {
  opacity: 0.4;
}

.loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 34%;
  left: 49%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}